# Python
__pycache__/
*.py[cod]
*.so
.python-version
activate/
lib/
lib64/
.*/

# Virtual envs
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/
bin/
include/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Local data
data/
tmp/
generated/

